<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>example</display-name>
	<description></description>

	<!-- Start Task Servlet Mapping -->
	<servlet>
		<servlet-name>ProcessServlet</servlet-name>
		<servlet-class>com.droolsjbpm.examples.servlet.StartProcessServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProcessServlet</servlet-name>
		<url-pattern>/start</url-pattern>
	</servlet-mapping>
	
	<!-- Get task as PotentionalOwner Servlet Mapping -->
	<servlet>
		<servlet-name>GetTaskPotentionalOwner</servlet-name>
		<servlet-class>com.droolsjbpm.examples.servlet.RetrieveTaskListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetTaskPotentionalOwner</servlet-name>
		<url-pattern>/gettasks</url-pattern>
	</servlet-mapping>

	<!-- Get task as PotentionalOwner Servlet Mapping -->
	<servlet>
		<servlet-name>GetTaskPotentionalOwnerWithPaging</servlet-name>
		<servlet-class>com.droolsjbpm.examples.servlet.RetrieveTaskListWithPagingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetTaskPotentionalOwnerWithPaging</servlet-name>
		<url-pattern>/gettaskswithpaging</url-pattern>
	</servlet-mapping>


	<!-- Welcome files -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>